md-content{
  width: 100%;
}
.acme-navbar-text{
  color: white;
}
header{
  md-toolbar{
    min-height: 40px;
    &:not(.md-menu-toolbar) {
      background-color: #242423;
    }
  }
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.logo-wrap{
  a.logo{
    padding-left: 30px;
    line-height: 30px;
    display: inline-block;
    padding-top: 4px;
    img{
      width: 105px;

    }
  }
}


.head-nav{
  .md-primary{
  }
  .md-button{
    font-size: 12px;
    font-family: 'Roboto';
    text-transform: uppercase;
    line-height: 12px;
    min-height:12px;
    margin: 0 8px;
    min-width:0;
    padding: 14px 15px;
    border-radius:0;
    md-ripple-container{
      border-radius:0;
    }
  }
  .md-menu{
    margin: 0;
    button.md-button{
      padding: 13px 15px;
      span{
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 300;
        line-height: 12px;
        height: 12px;
      }
      md-icon.material-icons{
        height: 12px;
        line-height: 12px;
        margin-left: 8px;
      }
    }
  }
}
