<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>


        <section layout="row" flex class="main-layer">

          <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

            <md-button ng-click="toggleLeft()" class="md-raised md-primary toggleButton">
              <md-icon class="material-icons">clear</md-icon>
            </md-button>
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Yavne 30</h1>
              <p>Cotton</p>
              <md-menu class="sidenav-share">
                <md-button aria-label="" class="" ng-click="$mdOpenMenu($event)">
                  <md-icon class="material-icons">more_horiz</md-icon>
                </md-button>
                <md-menu-content width="4" >
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button ng-click="ctrl.announceClick($index)">
                        <div layout="row" flex>
                          <p flex>Option {{item}}</p>
                        </div>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-toolbar>

            <md-content class="side-content">
              <md-list>
                <md-button aria-label="Open demo menu" class="more-info">
                  More info
                  <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                </md-button>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-1.svg" alt="" /><p>Growth stage</p>
                  <span class="stage-mark">Boll</span>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-2.svg" alt="" /><p>Aphids</p>
                  <md-button class="md-icon-button side-button-icon" aria-label="Favorite">
                    <md-icon md-svg-icon="../assets/images/page-1.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button side-button-icon" aria-label="Favorite">
                    <md-icon md-svg-icon="../assets/images/page-1.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button side-button-icon" aria-label="Favorite">
                    <md-icon md-svg-icon="../assets/images/page-1.svg"></md-icon>
                  </md-button>
                  <md-button class="md-raised side-button md-amber">Low</md-button>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-3.svg" alt="" /><p>Lanet 100 telstar 100 16/8</p>
                </md-list-item>
              </md-list>
              <md-list>
                <h2 class="side-list-title">Tuesday, August 9th 2016</h2>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-1.svg" alt="" /><p>Growth stage</p>
                  <span class="stage-mark">Boll</span>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-2.svg" alt="" /><p>No finding</p>
                  <md-button class="md-raised side-button md-green">Field ok</md-button>
                </md-list-item>

              </md-list>
              <md-list>
                <h2 class="side-list-title">Wednesday, August 3rd 2016</h2>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-1.svg" alt="" /><p>Growth stage</p>
                  <span class="stage-mark">Boll</span>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-2.svg" alt="" /><p>Spodopetera littoralis</p>
                  <md-button class="md-raised side-button md-amber">Low</md-button>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-2.svg" alt="" /><p>Tomato little leaf syndrome</p>
                  <md-button class="md-raised side-button md-amber">Low</md-button>
                </md-list-item>

                <md-list-item class="secondary-button-padding side-item">
                  <img class="side-icon" ng-src="../assets/images/growth-3.svg" alt="" /><p>Telstar 100 match 40 3/8</p>
                </md-list-item>
              </md-list>
            </md-content>

          </md-sidenav>

          <md-content flex layout-padding class="main-content">

            <div layout="column" layout-align="top center">
              <p>
                
              </p>

              <div>
              </div>

            </div>

          </md-content>

        </section>

  </md-content>

</div>
